body {
  background-color: #27709D;
}

.Item {
  margin: 25px;
  width: 256px;
  height: 256px;
}

.CenterDisc {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: radial-gradient(farthest-side at center, transparent 40%, transparentize(white, 0.6) 41%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 48.5%, 0% 48.5%, 0% 100%, 48.5% 100%, 48.5% 52.5%, 52.5% 52.5%, 52.5% 100%, 100% 100%, 100% 52.5%, 0% 52.5%);
  z-index: 1;
  margin: 0 auto;
  top: 15%;
  left: 15%;
}

.BackgroundRing {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: radial-gradient(transparent 57%, transparentize(white, 0.1) 57.1%, transparentize(white, 0.7) 58%, transparentize(white, 0.7) 70%, transparentize(white, 0.1) 70.1%);
  position: relative;
}

.BackgroundRing > div {
  position: absolute;
}
