body {
  background-color: #27709D;
}

.Item {
  margin: 25px;
  width: 256px;
  height: 256px;
}

.CenterDisc {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: radial-gradient(farthest-side at center, transparent 40%, transparentize(white, 0.6) 41%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 48.5%, 0% 48.5%, 0% 100%, 48.5% 100%, 48.5% 52.5%, 52.5% 52.5%, 52.5% 100%, 100% 100%, 100% 52.5%, 0% 52.5%);
  z-index: 1;
  margin: 0 auto;
  top: 15%;
  left: 15%;
}

.BackgroundRing {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: radial-gradient(transparent 57%, transparentize(white, 0.1) 57.1%, transparentize(white, 0.7) 58%, transparentize(white, 0.7) 70%, transparentize(white, 0.1) 70.1%);
  position: relative;
}

.BackgroundRing > div {
  position: absolute;
}


.GridContainer {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 50%;
}

.GridItem {
  display: flex;
  justify-content: center;
}

//.GridItem > .Icon {
//  text-align: center;
//  margin: 0 auto;
//  display: inline-block;
//}

.GridItem:first-child:nth-last-child(1),
.GridItem:first-child:nth-last-child(1) ~ div {
  width: 100%;
}

.GridItem:first-child:nth-last-child(2),
.GridItem:first-child:nth-last-child(2) ~ div {
  width: 50%;
}

.GridItem:first-child:nth-last-child(3),
.GridItem:first-child:nth-last-child(3) ~ div {
  width: 33%;
}

.GridItem:first-child:nth-last-child(4),
.GridItem:first-child:nth-last-child(4) ~ div {
  width: 25%;
}

.GridItem:first-child:nth-last-child(5),
.GridItem:first-child:nth-last-child(5) ~ div {
  width: 20%;
}

.GridItem:first-child:nth-last-child(6),
.GridItem:first-child:nth-last-child(6) ~ div {
  width: 16%;
}